ErrorCentral.Application/bin
ErrorCentral.Application/obj
ErrorCentral.Domain/bin
ErrorCentral.Domain/obj
ErrorCentral.Infra/bin
ErrorCentral.Infra/obj
ErrorCentral.Test/bin
ErrorCentral.Test/obj
ErrorCentral.Web/bin
ErrorCentral.Web/obj
.idea
*.jwk