/* Adicionei width:100%, position: absolute e left: 0 para fazer ocupar toda a tela*/
.page-header {
    display: flex;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
    background-color: var(--color-primary);
    height: 300px;
}

.page-header .top-bar-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-in-primary);
    padding: 1.6rem 0;
}

.page-header .top-bar-container > img {
    height: 8.6rem;
}

.page-header .top-bar-container a {
    height: 3.2rem;
    transition: opacity 0.2s;
}

.page-header .top-bar-container a:hover {
    opacity: 0.6;
}

.page-header .header-content {
    width: 90%;
    position: relative;
    margin: 3.2rem auto;
}

.page-header .header-content strong {
    font: 700 3.6rem Archivo;
    line-height: 4.2rem;
    color: var(--color-title-in-primary);
}

.page-header .header-content p {
    max-width: 30rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--color-text-in-primary);
    margin-top: 2.4rem;
}

.page-header .header-menu-container {
    position: absolute;
    right: 20px;
    top: 100px;
}

.page-header .top-bar-container .logout-button {
    border: 1px solid;
}

@media (min-width: 700px) {
    .page-header {
        height: 300px;
    }

    .page-header .top-bar-container {
        max-width: 1100px;
    }

    .page-header .header-content {
        flex: 1;
        max-width: 740px;
        margin: 0 auto;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .page-header .header-content strong {
        max-width: 350px;
    }

    .page-header .header-menu-container {
        max-width: 1100px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 20rem;
        top: -190px;
    }

}