#login-page {
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    max-width: 100vw;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    top: -107px;
}

.buttons-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    margin: 1rem 0;
    position: relative;
    top: -100px;
}

.buttons-container button {
    width: 100%;
    display: flex;
    margin: 0.5rem;
    text-decoration: none;
    transition: background-color 0.2s;
}

@media (min-width: 700px) {
    #login-page {
        max-width: 100vw;
    }

    .buttons-container {
        max-width: 74rem;
        /*width: 30%;*/
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3.2rem 0;
        padding: 0 160px 0 160px;
        position: relative;
        top: -130px;
    }

    .buttons-container button {
        align-items: center;
        justify-content: center;
        align-content: space-evenly;
        width: 100%;
        display: flex;
        grid-template-columns: 1fr 1fr;
        text-decoration: none;
        transition: background-color 0.2s;
    }
}
