:root {
    font-size: 60%;

    --color-background: #F0F0F7;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #3F51B5;
    --color-primary: #2b2b2c;
    --color-primary-dark: #3F51B5;
    --color-primary-darker: #6842C2;
    --color-secundary: #04D361;
    --color-secundary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #92929b;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #7A797F;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #ffffff;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-danger-light: #D71414;
    --color-danger-dark: #c31c1c;
    --color-button-regular: #031d85;
    --color-button-hover: #022267;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background: var(--color-background);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
input,
button,
textarea {
    font: 500 1.6rem Poppins;
    color: var(--color-text-base);
}

.container {
    width: 90vw;
    max-width: 700px;
}

#user-page, #log-page, #login-page {
    width: 100vw;
    height: 100vh;
}

.nav-bar-container {
    margin: -3.2rem auto 3.2rem;
    width: 90%;
    padding-top: 3rem;
    max-width: 74rem;
    border-radius: 0.8rem;
    overflow: hidden;
    position: relative;
    bottom: -280px;
    background: var(--color-box-base);
}

.nav-bar-container button {
    width: 100%;
    height: 5.6rem;
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 0.2rem;
}

main {
    margin: -3.2rem auto 3.2rem;
    width: 90%;
    padding-top: 3rem;
    max-width: 74rem;
    border-radius: 0.8rem;
    overflow: hidden;
    position: relative;
    bottom: -280px;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }

    .nav-bar-container {
        width: 100%;
        padding: 6.4rem 0;
        max-width: 740px;
        margin: 0 auto;
        position: relative;
        top: 266px;
    }
}