#user-page {
    width: 100vw;
    height: 100vh;
}

#user-page .page-header .header-content {
    margin-bottom: 6.4rem;
}

#user-page .header-content {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

#user-page .nav-bar-container .legend {
    padding-top: 0;
}

#user-page .nav-bar-container .user-delete .input-block {
    margin-top: 1.4rem;
}

#user-page .nav-bar-container .user-delete .user-delete-action{
    display: flex;
    grid-template-columns: 2fr 1fr;
    column-gap: 8px;
    align-items: center;
    justify-content: center;
    margin-top: -1.4rem;
}

#user-page .nav-bar-container .user-delete .user-delete-action .delete {
    display: flex;
    padding: 1rem;
    margin-top: 3.3rem;
}

#user-page .nav-bar-container .user-delete .user-delete-action .delete {
    margin-top: 5.6rem;
    background: var(--color-danger-light);
}

#user-page .nav-bar-container .user-delete .user-delete-action .delete:hover {
    background: var(--color-danger-dark);
}

#user-page .nav-bar-container label {
    color: var(--color-text-complement);
}

@media (min-width: 700px) {
    #user-page {
        max-width: 100vw;
    }

    #user-page .page-header .header-content {
        margin-bottom: 0;
    }

    #user-page .nav-bar-container fieldset {
        padding: 0 6.4rem;
    }

    #user-page .nav-bar-container {
        padding: 6.4rem 0;
        max-width: 740px;
        margin: 0 auto;
        position: relative;
        top: 266px;
    }

    #user-page .nav-bar-container .user-delete .user-delete-action {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 8px;
        margin-bottom: -3rem;
    }

    #user-page .nav-bar-container .user-delete .user-delete-action .delete {
        margin-top: 3.2rem;
    }
}